{% extends "sosafitosapp/base_login_register.html" %}

{% block content %}
<div class="col-4 text-center">
    <form method="post" class="container">
        {% csrf_token %}
            <div class="shadow-none p-3 mb-5 bg-light rounded">

                <div class="form-group">
                    <label for="editProfileUser">Usuario</label>
                    <input type="text" class="form-control" id="editProfileUser" name="username" value="{% user.username %}" required>
                </div>
                <div class="form-group">
                    <label for="editProfilePassword">Contraseña</label>
                    <input type="password" class="form-control" id="editProfilePassword" name="new password" required>
                </div>
                <div class="form-group">
                    <label for="editProfilePasswordOld">Contraseña Antigua</label>
                    <input type="password" class="form-control" id="editProfilePasswordOld" name="old password" required>
                </div>
                <div class="form-group">
                    <label for="editProfileMail">Correo</label>
                    <input type="email" class="form-control" id="editProfileMail" name="mail" value="{% user.email %}" required>
                </div>
                <div >
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    <a href="login.html" class="btn btn-primary">Cancelar</a>
                </div>
            </div>
    </form>
</div>

{% endblock content %}