{% extends "sosafitosapp/home.html" %}
{% block content %}


{% for reporte in reportes %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h1 class="mt-4">{{ reporte.titulo }}</h1>
                    <p class="lead">
                    <a href="{% url 'reportEdit' reporte.id %}">Editar reporte</a>
                    </p>
                    {% for tag in reporte.tags.all %}
                    <a>#{{ tag }}</a>
                    {% endfor %}
                    <hr>
                    <p>{{ reporte.fecha }} {{ reporte.ciudad }}</p>
                    <hr>
                    <img class="img-fluid rounded" src="{{ reporte.foto.url }}" alt="">
                    <hr>
                    <p class="centrado">{{ reporte.descripcion }}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<div class="container">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">Primera</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                 <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}

