<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro!</title>
</head>
<body>
    <h1>Reportando</h1>
    <form>
        <label hidden for="title">Titulo</label><input type="text" id="title" name="title" placeholder="Titulo">
        <p></p>
        <label for ="file">Imagen (opcional)</label><br>
        <input type="file" id="file" name="file" placeholder="imagen" multiple>
        <p></p>
        <input type="text" id="content" name="content" placeholder="descripcion">
    </form>
</body>
</html>