{% extends "sosafitosapp/base_home.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">

        <div class="row justify-content-center">
    
            <!-- Post Content Column -->
            <div class="col-lg-8">
    
            <!-- Title -->
            <h1 class="mt-4">{{reporte.titulo}}</h1>
    
            <!-- Author -->
            <p class="lead">
                creado por
                <a href="#">{{reporte.autor}}</a>
            </p>
            
            {% for tag in reporte.tags.all %}

            <!-- Tags -->
            <a>#{{ tag }}</a>

            {% endfor %}


            <hr>

            <!-- Date/Time -->
            <p>{{reporte.fecha}} {{reporte.ciudad}}</p>
    
            <hr>
    
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{reporte.foto.url}}" alt="">
    
            <hr>
    
            <!-- Post Content -->
            <p class="centrado">{{reporte.descripcion}}</p>
            <hr>

            </div>
            
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8" >
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 pt-3 text-center">Comentarios</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Subir</button>
                    </div>
                </form>
            </div>
        </div>
        {% for comentario in comentarios %}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <hr>
                <p class="lead">
                <a href="#">{{comentario.autor}}</a>
                </p>
                {{comentario.contenido}}
            </div>
        </div>
        {% endfor%}
    </div>
{% endblock content %}